:root {
    --red: #e53838;
    --light-blue: #51b4b4;
    --dark-blue: #4993cf;
    --yellow: #e9a031;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: #353747;
    background-color: hsl(0, 0%, 98%);
}
#top-article {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 50px;
}
#bold-h1 {
    margin: 0 0 10px 0;
    color: hsl(229, 6%, 66%);
}
#span-h1 {
    color: #353747;
}
#top-article > h5 {
    margin: 0 0 90px 0;
    font-weight: 400;
    font-size: 28px;
    color: hsl(229, 6%, 66%);
}


.card > h3 {
    font-size: 26px;
    margin: 0 0 25px 0;
}
.card > h6 {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 50px;
}
#cards-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 25px;
}
.card {
    border-radius: 10px;
    box-shadow: 2px 2px 20px  rgb(0, 0, 0, 0.1);
    padding: 50px 50px 70px 50px;
}
.col-2 {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.supervisor-card {
    border-top: solid var(--light-blue) 5px;
}
.team-builder-card {
    border-top: solid var(--red) 5px;
}
.karma-card {
    border-top: solid var(--yellow) 5px;
}
.calculator-card {
    border-top: solid var(--dark-blue) 5px;
}
.icon {
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
}
@media (max-width: 1770px) {
    #top-article {
        font-size: 1rem;
        padding: 0;
    }
    #cards-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5em;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .col-2 {
        display: flex;
        flex-direction: column;
        gap: 5em;
    }
    #top-article > h5 {
        font-size: 1.5rem;
        padding: 5px;
    }
    #span-h1 {
        padding: 0 5px;
    }
    #bold-h1 {
        padding: 0 15px;
    }
}